/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Welcome section styles */

.scroll-down {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color:darkgrey;
    font-size: 1.5rem;
    opacity: 1;
    transition: opacity 1s;
}

.down-arrow {
    position: absolute;
    
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
}




.sub-title {
    font-size: 1.5rem;
    font-style: italic;
}


/* Header styles */
header {
    background-color: #3333338e;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    opacity: 0.6;
    transition: opacity 0.5s;
}

header.hidden {
    opacity: 0;
}

header .logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    float: left;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-right: 1rem;
    float: right;
}

nav ul li {
    position: relative;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
    display: block;
    line-height: 2rem;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 0.5rem;
    border-radius: 0 0 5px 5px;
}

nav ul ul li {
    width: 100%;
    white-space: nowrap;
}

nav ul ul a {
    display: block;
    padding: 0.5rem 1rem;
    white-space: nowrap;
}

nav ul ul a:hover {
    background-color: #555;
}

/* Main content styles */
main {
    padding: 1rem;
    margin-top: 4rem;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    margin-bottom: 1rem;
}

/* Intro section styles */
#intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 2rem;
}

.intro-text {
    flex-basis: 45%;
    position: relative;
    text-align: justify;
}

.intro-image {
    flex-basis: 45%;
}

.intro-image img {
    width: 100%;
    height: auto;
}

.intro-arrow {
    position: absolute;
    right: -5rem;
    top: 50%;
    transform: translateY(-50%);
}

/*footer*/
footer {
    background-color: #333;
    color: #ffffff;
    padding: 1rem 0;
    font-size: 1rem;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    padding: 0 1rem;
}

.footer-section h3 {
    margin-bottom: 0.5rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section p {
    margin-bottom: 0.5rem;
}

.social-icons {
    display: flex;
}

.social-icons a {
    display: block;
    margin-right: 1rem;
}

.social-icons img {
    width: 32px;
    height: 32px;
}

.footer-bottom {
    text-align: center;
    margin-top: 1rem; /* 修改这里，减小底部文本与上方内容的间距 */
    padding-bottom: 0.5rem; /* 添加这里，增加底部文本与下边界的内边距 */
}

.footer-bottom p {
    margin: 0;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    header .logo {
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        float: left;
        opacity: 0.9;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        padding: 0 0.7rem;
        display: block;
        line-height: 2rem;
    }

    #intro {
        flex-direction: column;
    }

    .intro-text,
    .intro-image {
        flex-basis: 100%;
    }

    .intro-arrow {
        display: none;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-section {
        flex: 1 1 100%;
    }
}
